.detalhesEvento {
	box-shadow: 0px 0px 5px grey;
	padding-top: 5px;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.formConvidado {
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tabelaConvidado {
	width: 50%;
}

.formEvento {
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
