<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/css" rel="stylesheet" href="../style/style.css"/>
    </head>

	<body>
	
		<header>
		  <nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Lista de Eventos<span th:text="${qtdEventos}"></span></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/login" class="waves-effect waves-light btn">Login</a></li>
		        
		      </ul>
		    </div>
		  </nav>
		</header>
		
		
		<h1>Sistema para Cadastro de Eventos</h1>
		<h3>Faça seu Login e cadastre seus eventos ....</h3>
			
		
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		
		
	</body>

</html>